{% extends 'basePage.html' %}
    {% load i18n %}

    {% block title %}
       PhoneBook
    {% endblock  %}

    {% block content %}
        <div style="text-align:center;">
            <form  method="post" >
                {% csrf_token %}
                    <b>Person's full name: </b> {{ osoba.imie }} {{ osoba.nazwisko }}<br>
                    <b>Current emails:</b><br>
                     {% for em in emailList %}
                        {% if osoba == em.osoba %}
                            {{ em.email }}<br>
                        {% endif %}
                    {% endfor %} <br><br>
                    <b>Add new email:</b>{{ form.email }}
                    <button type="submit " class="btn btn-success">Add</button>
            </form><br>
        </div>
    {% endblock  %}
