{% extends 'basePage.html' %}
    {% load i18n %}

    {% block title %}
       PhoneBook Search
    {% endblock  %}

    {% block content %}
        <div style="text-align:center;">
            <form  method="post" >
                {% csrf_token %}
                   {{ form.name }}  {{ form.surname }}<br><br>
                   {{ form.email }}  {{ form.number }}<br><br>
                    <button type="submit" class="btn btn-success">Search</button>
            </form><br>


        </div>

<table class="table" width="100%">
            <thead style="background-color:#222222 ">
                <tr>
                    <th style="color:gray" width="10%">
                        <center>
                        Index
                        </center>
                    </th>

                    <th style="color:gray" width="65%">Person</th>

                    <th style="color:gray" width="25%">
                        <center>
                            Actions
                        </center>
                    </th>
                </tr>
            </thead>

        {% for os in osobaList %}
            <tr>
                <td><center>{{ os.id }}</center></td>

                <td>
                    <b>Full name:</b> {{ os.imie }} {{ os.nazwisko }}<br>
                    <b>Numbers:</b><br>

                    {% for tel in telefonList %}
                        {% if os == tel.osoba %}
                            <div class="st">
                                {{ tel.telefon }}<br>

                            </div>
                        {% endif %}
                    {% endfor %}

                    <b>Emails:</b><br>

                        {% for em in emailList %}
                            {% if os == em.osoba %}
                                <div class="st">
                                    {{ em.email }}<br>
                                </div>
                            {% endif %}
                        {% endfor %}
                </td>

                <td style="text-align:right">
                         {% if os not in emailExistList or os not in telefonExistList %}
                     <a href="delete/{{os.id}}"><button type="button" class="btn  btn-danger btn-sm " >Delete</button> </a>
                        {% endif %}
                     <a href="edit/{{os.id}}"><button type="button" class="btn btn-info btn-sm " >Edit</button> </a><br><br>

                     <b> Add new: </b>
                    <a href="addNum/{{os.id}}"><button type="button" class="btn btn-success btn-sm " >Number</button> </a>
                    <a href="addEm/{{os.id}}"><button type="button" class="btn btn-success btn-sm " >Email</button> </a>

                </td>
            </tr>
        {% endfor %}
        </table>


<style>
div.st {
    padding-left: 70px;
 }
</style>
    {% endblock  %}